# Built application files
*.apk
*.aab
*.ap_
*.aab
*.aar

# Local configuration file (sdk path, etc)
local.properties

# Gradle files
.gradle/
build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# MacOS
.DS_Store

# NDK
obj/
.cxx/
.externalNativeBuild/

# Testing
/app/build/
/app/release/
/app/debug/
/build/

# Misc
captures/
*.log
